body {
    font-family: raleway, sans-serif;
    font-size: 0.9em;
}

.bloc_page {
    width: 100%;
}

#logo {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav li {
    list-style-type: none;
    display: inline-flex;
    margin-right: 45px;
}

a {
    text-decoration: none;
    color: #a5a5a5;
}

nav a:hover {
    text-decoration: overline;
    color: #0065FC;
}

.bouton, ul {
    list-style-type: none;
    display: flex;
}

.barrerecherche {
    display: inline-flex;
}

.icon {
    background-color: #F2F2F2;
    padding: 1em 1.25em;
    border-radius: 1em 0 0 1em;
    text-align: center;
}

.recherche {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5em;
    box-sizing: border-box;
    width: 14em;
    font-size: 1em;
    font-weight: bold;
}

.bouton_recherche {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1em 1em 0;
    padding: 0 1.5em;
    cursor: pointer;
}

.ensemble {
    display: flex;
    margin-top: 2em;
    flex-wrap: wrap;
}

.ensemble_filtres {
    display: flex;
    align-items: center;
    margin-right: 2em;
    border: 2px solid #d9d9d9;
    border-radius: 2em;
    margin-bottom: 1em;
    cursor: pointer;
    font-weight: bold;
}

.filtres {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 4em;
    width: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}

.titre_filtres, h2 {
    margin: 1em;
}

.container_principal {
    display: flex;
    width: 100%;
}

.container_1 {
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 65%;
    margin-right: 40px;
    margin-left: 10px;
}

.container_2 {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 31%;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
    border: 5px solid white;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-right: 50px;
    line-height: 1px;
    box-shadow: 0px 0px 5px #0000002e;
}

.image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 150px;
}

.image2 {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

.espace {
    display: inline-block;
    margin: 25px;
}

.card2 {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid white;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0px 0px 5px #0000002e;
    width: 85%;
}

.text h3, p {
    margin-left: 5px;
}

.star1 {
    padding-top: 10px;
    margin-left: 5px;
}

.card2 h3, p {
    margin: 5px;
}

.hebergements {
    width: 100%;
}

.lien {
    color: black;
}

.lien2 {
    display: flex;
    color: black;
}

.titre {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 20px;
}

.star-full {
    color: #0065FC;
}

.star-empty {
    color: #F2F2F2;
}

.container_card {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}

.container_card2 {
    display: flex;
    flex-wrap: wrap;
}

.afficher {
    margin-left: 50px;
    margin-bottom: 25px;
}

.icon_filtre {
    color: #0065FC;
}

.titre2 {
    width: 100%;
}

.descr_1 {
    margin-left: 1em;
}

.descr_1, .descr_3 {
    display: flex;
    width: 23%;
    border: 0px;
    border-radius: 1em;
    box-shadow: 0px 0px 20px #0000002e;
    background-color: white;
}

.descr_2, .descr_4 {
    display: flex;
    flex-wrap: wrap;
    width: 23%;
    background-color: white;
}

.sous_descr1 {
    display: flex;
    border: 0px;
    border-radius: 1em;
    box-shadow: 0px 0px 20px #0000002e;
    background-color: white;
}

.sous_descr2 {
    display: flex;
    margin-top: 3em;
    border: 0px;
    border-radius: 1em;
    box-shadow: 0px 0px 20px #0000002e;
    background-color: white;
}

.image_secondaire {
    position: relative;
    width: 100%;
    height: 450px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.image_secondaire2 {
    position: relative;
    width: 100%;
    height: 170px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.activités {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.activités p {
    font-weight: bold;
    color: black;
    padding-left: 1em;
    padding-bottom: 1em;
}

.footer {
    margin-top: 3%;
    background-color:#F2F2F2;
    display: flex;
    width: 100%;
}

.a_propos {
    width: 33%;
    margin-left: 5%;
}

.hebergement {
    width: 33%;
}

.assistance {
    width: 33%;
}

@media all and (max-device-width: 767px) 
    {   
        .ensemble {
            display: flex;
            margin-top: 2em;
        }

        .ensemble h2 {
            width: 100%;
        }

        .ensemble_filtres {
            display: flex;
            align-items: center;
            margin-right: 2em;
            border: 2px solid #d9d9d9;
            border-radius: 2em;
            margin-bottom: 1em;
            font-weight: bold;
        }

        .container_principal {
            display: flex;
            flex-flow: column-reverse;
            flex-wrap: wrap;
            width: 100%;
        }

        .container_1 {
            display: flex;
            flex-wrap: wrap;
            background-color:white;
            border-radius: 10px;
            margin-bottom: 20px;
            margin-left: 0px;
            margin-right: 0px;
            width: 100%;
        }
        
        .container_2 {
            display: flex;
            flex-wrap: wrap;
            background-color: #F2F2F2;
            border-radius: 10px;
            width: 100%;
        }
        
        .card {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            border: 5px solid white;
            background-color: white;
            border-radius: 20px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 2px;
            margin-right: 2px;
            line-height: 1px;
            box-shadow: 0px 0px 5px #0000002e;
        }
        
        .card2 {
            display: flex;
            flex-wrap: wrap;
            width: 87%;
            border: 5px solid white;
            background-color: white;
            border-radius: 20px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 8px;
            margin-right: 2px;
            box-shadow: 0px 0px 5px #0000002e;
        }

        .image2 {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            width: 200px;
            height: 200px;
        }

        .espace {
            display: inline-block;
            margin: 30px;
        }
        
        .espace1 {
            display: inline-block;
            margin: 25px;
        }

        .activités {
            display: flex;
            flex-flow: column;
            flex-wrap: wrap;
            background-color: white;
            width: 100%;
        }

        .lien_des {
            width: auto;
        }
        
        .descr_1, .descr_3 {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 50%;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 0px;
            margin-right: 0px;
            border: 0px;
            border-radius: 1em;
            box-shadow: 0px 0px 20px #0000002e;
            background-color: white;
        }
        
        .descr_2, .descr_4 {
            display: flex;
            flex-wrap: wrap;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 0px;
            margin-right: 0px;
            width: 100%;
            height: 50%;
            background-color: white;
        }
        
        .sous_descr1 {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 50%;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 0px;
            margin-right: 0px;
            border: 0px;
            border-radius: 1em;
            box-shadow: 0px 0px 20px #0000002e;
            background-color: white;
        }
        
        .sous_descr2 {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 50%;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 0px;
            margin-right: 0px;
            border: 0px;
            border-radius: 1em;
            box-shadow: 0px 0px 20px #0000002e;
            background-color: white;
        }

        .image_secondaire {
            position: relative;
            width: 100%;
            height: 25%;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
        }
        
        .image_secondaire2 {
            position: relative;
            width: 100%;
            height: 25%;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
        }

        .footer {
            margin-top: 3%;
            background-color:#F2F2F2;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        
        .a_propos {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-left: 5%;
        }
        
        .hebergement {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-left: 5%;
        }
        
        .assistance {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-left: 5%;
        }

        .footer h3, p {
            flex-wrap: wrap;
            width: 100%;
        }
    }

