body {
    font-family: raleway, sans-serif;
    font-size: 0.9em;
}

.bloc_page {
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

.barre {
    display: flex;
    font-weight: bold;
}

.barre nav {
    display: flex;
    align-items: center;
}

.inscrire {
    display: flex;
    align-items: center;
    padding: 2rem;
    color: #0065FC;
    text-decoration: none;
    font-weight: bold;
}

.choix {
    text-decoration: none;
    color: #a5a5a5;
    padding: 2rem;
}

.choix:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

footer a {
    text-decoration: none;
    color: #a5a5a5;
}

a {
    text-decoration: none;
}

.visible {
    display: none;
}

.bouton, ul {
    list-style-type: none;
    display: flex;
}

.barrerecherche {
    display: inline-flex;
    margin-left: 10px;
    margin-top: 20px;
}

.icon {
    background-color: #F2F2F2;
    padding: 1em 1.25em;
    border-radius: 1em 0 0 1em;
    text-align: center;
}

.recherche {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5em;
    box-sizing: border-box;
    width: 14em;
    font-size: 1em;
    font-weight: bold;
}

.bouton_recherche {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1em 1em 0;
    padding: 0 1.5em;
    cursor: pointer;
}

.ensemble {
    display: flex;
    margin-top: 2em;
    flex-wrap: wrap;
}

.ensemble :hover {
    color: #0065FC;
    transition: color .3s .125s ease-out;
}

.container_principal a:hover {
    color: grey;
    transition: color .3s .125s ease-out;
}

.ensemble_filtres {
    display: flex;
    align-items: center;
    margin-right: 2em;
    border: 2px solid #d9d9d9;
    border-radius: 2em;
    margin-bottom: 1em;
    cursor: pointer;
    font-weight: bold;
}

.filtres {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 4em;
    width: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}

.titre_filtres, h2 {
    margin: 1em;
}

.info {
    margin-left: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.intro p, h1 {
    margin-left: 10px;
}

.container_principal {
    display: flex;
    width: 100%;
}

.container_1 {
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 65%;
    margin-right: 30px;
    margin-left: 10px;
}

.container_2 {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 30%;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 29%;
    height: 200px;
    border: 4px solid white;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-right: 25px;
    line-height: 1px;
    box-shadow: 0px 0px 5px #0000002e;
}

.image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 125px;
    object-fit: cover;
}

.image2 {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 150px;
    height: 150px;
    margin-right: 10px;
    object-fit: cover;
}

.espace {
    display: inline-block;
    margin: 25px;
}

.card2 {
    display: flex;
    flex-wrap: wrap;
    border: 4px solid white;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0px 0px 5px #0000002e;
    width: 85%;
}

.text h3, p {
    margin-left: 5px;
}

.star1 {
    padding-top: 10px;
    margin-left: 5px;
}

.card2 h3, p {
    margin: 5px;
}

#hebergements {
    width: 99%;
}

.lien {
    color: black;
}

.lien2 {
    display: flex;
    color: black;
}

.titre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-left: 20px;
}

.star-full {
    color: #0065FC;
}

.star-empty {
    color: #F2F2F2;
}

.container_card {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}

.container_card2 {
    display: flex;
    flex-wrap: wrap;
}

.afficher {
    margin-left: 50px;
    margin-bottom: 25px;
}

.icon_filtre {
    color: #0065FC;
}

.titre2 {
    width: 99%;
}

.secondaire {
    width: 100%;
}

.descr_1 {
    margin-left: 1em;
}

.descr_1, .descr_3 {
    display: flex;
    width: 23%;
    border: 0px;
    border-radius: 1em;
    box-shadow: 0px 0px 20px #0000002e;
    background-color: white;
}

.descr_2, .descr_4 {
    display: flex;
    flex-wrap: wrap;
    width: 23%;
    background-color: white;
}

.sous_descr1 {
    display: flex;
    border: 0px;
    border-radius: 1em;
    box-shadow: 0px 0px 20px #0000002e;
    background-color: white;
}

.sous_descr2 {
    display: flex;
    margin-top: 3em;
    border: 0px;
    border-radius: 1em;
    box-shadow: 0px 0px 20px #0000002e;
    background-color: white;
}

.image_secondaire {
    position: relative;
    width: 100%;
    height: 450px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    object-fit: cover;
}

.image_secondaire2 {
    position: relative;
    width: 100%;
    height: 170px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    object-fit: cover;
}

#activités {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#activités p {
    font-weight: bold;
    color: black;
    padding-left: 1em;
    padding-bottom: 1em;
}

.footer {
    margin-top: 3%;
    background-color:#F2F2F2;
    display: flex;
    width: 100%;
}

.a_propos {
    width: 33%;
    margin-left: 5%;
    margin-bottom: 20px;
}

.hebergement {
    width: 33%;
    margin-bottom: 20px;
}

.assistance {
    width: 33%;
    margin-bottom: 20px;
}

.footer p {
    color: black
}

.info {
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}

.Icone {
    color: #0065FC;
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}

@media only screen and (max-width: 767px) 
    {   
        body {
            width: 99%;
        }

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 99%;
        }
        
        .barre {
            display: flex;
            font-weight: bold;
        }
        
        .barre nav {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #a5a5a5;
        }
        
        .inscrire {
            display: flex;
            align-items: center;
            color: #0065FC;
            text-decoration: none;
            font-weight: bold;
        }
        
        .choix:hover {
            border-top: 2px solid #0065FC;
            color: #0065FC;
        }
        
        footer a {
            text-decoration: none;
            color: #a5a5a5;
        }
        
        a {
            text-decoration: none;
        }

        .ensemble {
            display: flex;
            margin-top: 2em;
        }

        .visible {
            display: inline-block;
        }

        .submit {
            display: none;
        }

        .ensemble h2 {
            width: 99%;
        }

        .ensemble_filtres {
            display: flex;
            flex-wrap: wrap;
            border: 2px solid #d9d9d9;
            border-radius: 2em;
            margin-bottom: 15px;
            font-weight: bold;   
        }

        .container_principal {
            display: flex;
            flex-flow: column-reverse;
            flex-wrap: wrap;
            width: 99%;
            margin-top: 20px;
        }

        .container_1 {
            display: flex;
            flex-wrap: wrap;
            background-color:white;
            border-radius: 10px;
            margin-bottom: 20px;
            width: 99%;
        }
        
        .container_2 {
            display: flex;
            flex-wrap: wrap;
            background-color: #F2F2F2;
            border-radius: 10px;
            width: 99%;
            height: 550px;
        }
        
        .card {
            display: flex;
            flex-wrap: wrap;
            width: 99%;
            border: 5px solid white;
            background-color: white;
            border-radius: 20px;
            margin-top: 5px;
            margin-bottom: 6px;
            margin-left: auto;
            margin-right: auto;
            line-height: 1px;
            box-shadow: 0px 0px 5px #0000002e;
        }
        
        .card2 {
            display: flex;
            flex-wrap: wrap;
            width: 99%;
            height: 130px;
            border: 5px solid white;
            background-color: white;
            border-radius: 20px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            box-shadow: 0px 0px 5px #0000002e;
        }

        .afficher {
            margin-top: 15px;
            margin-left: 15px;
        }

        .image2 {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            width: 150px;
            height: 130px;
            object-fit: cover;
        }

        .espace {
            display: inline-block;
            margin: 17px;
        }
        
        .espace1 {
            display: inline-block;
            margin: 22px;
        }

        #activités {
            display: flex;
            flex-flow: column wrap;
            background-color: white;
            width: 100%;
        }
        
        .descr_1, .descr_3 {
            display: flex;
            flex-wrap: wrap;
            width: 99%;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            border-radius: 1em;
            box-shadow: 0px 0px 20px #0000002e;
        }
        
        .descr_2, .descr_4 {
            display: flex;
            flex-wrap: wrap;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            width: 99%;
        }
        
        .sous_descr1 {
            display: flex;
            flex-wrap: wrap;
            width: 99%;
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 1em;
            box-shadow: 0px 0px 20px #0000002e;
        }
        
        .sous_descr2 {
            display: flex;
            flex-wrap: wrap;
            width: 99%;
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 1em;
            box-shadow: 0px 0px 20px #0000002e;
        }

        .image_secondaire {
            position: relative;
            width: 100%;
            height: 150px;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
            object-fit: cover;
        }
        
        .image_secondaire2 {
            position: relative;
            width: 100%;
            height: 150px;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
            object-fit: cover;
        }

        .footer {
            margin-top: 10px;
            background-color:#F2F2F2;
            display: flex;
            flex-wrap: wrap;
            width: 99%;
        }
        
        .a_propos {
            display: flex;
            flex-wrap: wrap;
            width: 99%;
            margin-left: 5%;
        }
        
        .hebergement {
            display: flex;
            flex-wrap: wrap;
            width: 99%;
            margin-left: 5%;
        }
        
        .assistance {
            display: flex;
            flex-wrap: wrap;
            width: 99%;
            margin-left: 5%;
        }

        .footer h3, p {
            flex-wrap: wrap;
            width: 99%;
        }
    }

@media only screen and (min-width: 768px) and (max-width: 1317px)  
    {
        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: auto;
            width: 100%;
        }
        
        .barre {
            display: flex;
            font-weight: bold;
        }
        
        .barre nav {
            display: flex;
            align-items: center;
        }
        
        .inscrire {
            display: flex;
            align-items: center;
            padding: 2rem;
            color: #0065FC;
            text-decoration: none;
            font-weight: bold;
        }
        
        .choix {
            text-decoration: none;
            color: #a5a5a5;
            padding: 2rem;
        }
        
        .choix:hover {
            border-top: 3px solid #0065FC;
            color: #0065FC;
        }

        footer a {
            text-decoration: none;
            color: #a5a5a5;
        }
        
        a {
            text-decoration: none;
        }

        .ensemble {
            display: flex;
            margin-top: 2em;
        }

        .submit {
            display: none;
        }

        .visible {
            display: inline-block;
        }

        .ensemble_filtres {
            display: flex;
            flex-wrap: wrap;
            border: 2px solid #d9d9d9;
            border-radius: 2em;
            margin-bottom: 15px;
            font-weight: bold;   
        }

        .container_principal {
            display: flex;
            flex-flow: column-reverse;
            flex-wrap: wrap;
            width: 99%;
            margin-top: 20px;
            margin-right: auto;
            margin-left: auto;
        }

        .container_1 {
            display: flex;
            flex-wrap: wrap;
            background-color:white;
            border-radius: 10px;
            margin-bottom: 20px;
            margin-left: 0px;
            width: 99%;
        }
        
        .container_2 {
            display: flex;
            flex-wrap: wrap;
            background-color: #F2F2F2;
            border-radius: 10px;
            width: 99%;
            height: 550px;
        }
        
        .card {
            display: flex;
            flex-wrap: wrap;
            width: 99%;
            border: 5px solid white;
            background-color: white;
            border-radius: 20px;
            margin-top: 5px;
            margin-bottom: 6px;
            margin-left: auto;
            margin-right: auto;
            line-height: 1px;
            box-shadow: 0px 0px 5px #0000002e;
        }
        
        .card2 {
            display: flex;
            flex-wrap: wrap;
            width: 99%;
            height: 130px;
            border: 5px solid white;
            background-color: white;
            border-radius: 20px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 0.5rem;
            margin-left: 0.5rem;
            box-shadow: 0px 0px 5px #0000002e;
        }

        .afficher {
            margin-top: 15px;
            margin-left: 15px;
        }

        .image2 {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            width: 200px;
            height: 130px;
            object-fit: cover;
        }

        .espace {
            display: inline-block;
            margin: 17px;
        }
        
        .espace1 {
            display: inline-block;
            margin: 22px;
        }

        #activités {
            display: flex;
            flex-flow: column wrap;
            background-color: white;
            width: 100%;
        }
        
        .descr_1, .descr_3 {
            display: flex;
            flex-wrap: wrap;
            width: 99%;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            border-radius: 1em;
            box-shadow: 0px 0px 20px #0000002e;
        }
        
        .descr_2, .descr_4 {
            display: flex;
            flex-wrap: wrap;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            width: 99%;
        }
        
        .sous_descr1 {
            display: flex;
            flex-wrap: wrap;
            width: 99%;
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 1em;
            box-shadow: 0px 0px 20px #0000002e;
        }
        
        .sous_descr2 {
            display: flex;
            flex-wrap: wrap;
            width: 99%;
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 1em;
            box-shadow: 0px 0px 20px #0000002e;
        }

        .image_secondaire {
            position: relative;
            width: 100%;
            height: 150px;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
            object-fit: cover;
        }
        
        .image_secondaire2 {
            position: relative;
            width: 100%;
            height: 150px;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
            object-fit: cover;
        }

        .footer {
            margin-top: 10px;
            background-color:#F2F2F2;
            display: flex;
            flex-wrap: wrap;
            width: 99%;
        }
        
        .a_propos {
            display: flex;
            flex-wrap: wrap;
            width: 99%;
            margin-left: 5%;
        }
        
        .hebergement {
            display: flex;
            flex-wrap: wrap;
            width: 99%;
            margin-left: 5%;
        }
        
        .assistance {
            display: flex;
            flex-wrap: wrap;
            width: 99%;
            margin-left: 5%;
        }

        .footer h3, p {
            flex-wrap: wrap;
            width: 99%;
        }
    }